<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../publics/css/bootstrap-utilities.css">
    <link rel="stylesheet" href="../publics/css/bootstrap-reboot.css">
    <link rel="stylesheet" href="../publics/css/bootstrap.css">
    <link rel="stylesheet" href="../publics/css/style.css">
    <link rel="stylesheet" href="../publics/css/style2.css">
</head>
<body>

<main >
    <a href="#" class="mt-5">Outline</a>
    <div class="container">
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
            See options
        </button>
        <h6 class="opt">Options of the administrator</h6>
    </div>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Administration menu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                <strong>This is options for the Administrator</strong>
            </div><br>
            <div class="dropdown mt-3">
                <ul class="">
                    <li><a class="dropdown-item" href="#">Student management</a></li>
                    <li><a class="dropdown-item" href="#">Subject management</a></li>
                    <li><a class="dropdown-item" href="#">Teacher management</a></li>
                    <li><a class="dropdown-item" href="#">Sector management</a></li>
                </ul>
            </div>
        </div>
    </div>
</main>
<script src="../publics/css/bootstrap.js"></script>
</body>
</html>